@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$primary: #8a995d;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #8a995d;
}



.top-line {
  background: #8a995d;
  height: 20px;
  border-radius: 0px 0px 3px 3px;
}

.header-custom {
  padding-left: 0;
  padding-right: 0;
}

.footer-custom {
  background: #8a995d;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.navbar-brand {
  padding-top: 0;
}

.btn-primary {
  background: #fff;
  border-color: #8a995d;
  border-width: 2px;
  color: #000;
}

.btn-primary:hover {
  background: #8a995d;
  border-color: #8a995d;
}


.btn-primary:active {
  background: #8a995d;
  border-color: #8a995d;
}

.btn-custom {
  background: #fff;
  border-color: #B35D52;
  border-width: 2px;
  color: #000;
}

.btn-custom:hover {
  background: #B35D52;
  border-color: #B35D52;
}


.btn-custom:active {
  background: #B35D52;
  border-color: #B35D52;
}


.brand-heading {
  font-family: Pacifico;
  font-size: 24px;
}

.navbar {
  padding: 0.5;
}

.active {
  text-decoration: underline;
}